In [4]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Import comment likes over time dataset
comments_df = pd.read_csv('Resources/comment_scores.csv')
comments_df.head()

,#timestamp,date,amount of minutes the scores were hidden,0:15 score,0:30 score,0:45 score,1:00 score,1:15 score,1:30 score,1:45 score,2:00 score
0,1.530131e+09,2018-06-27 20:20:24,0,1,1,1,1,1,1,1,1
1,1.530131e+09,2018-06-27 20:20:12,0,2,2,2,2,2,2,1,1
2,1.530131e+09,2018-06-27 20:19:57,0,1,2,2,3,3,3,3,3
3,1.530131e+09,2018-06-27 20:21:32,0,2,2,3,3,3,3,3,3
4,1.530131e+09,2018-06-27 20:21:13,0,1,1,1,1,2,2,2,2

,#timestamp,date,amount of minutes the scores were hidden,0:15 score,0:30 score,0:45 score,1:00 score,1:15 score,1:30 score,1:45 score,2:00 score
101014,1.532666e+09,2018-07-27 04:39:42,30,1,1,1,1,1,1,1,1
101015,1.532666e+09,2018-07-27 04:40:44,30,1,0,0,1,0,0,1,0
101016,1.532667e+09,2018-07-27 04:42:11,30,1,1,2,2,2,2,2,2
101017,1.532667e+09,2018-07-27 04:42:46,30,2,2,2,2,3,3,3,3
101018,1.532667e+09,2018-07-27 04:42:37,30,1,1,1,1,1,1,1,1