# Dataset Creation
The data provided for this DataViz battle is located in its raw form on [this website](https://raw.githubusercontent.com/RedditFormula1/Data/master/commentdata.dat). It must be converted into a useable format. This file will convert the raw data into a dataframe saved to a CSV file.

In [1]:
# Imports
import requests
import re
import pandas as pd
import numpy as np

In [2]:
# Request the webpage
r = requests.get('https://raw.githubusercontent.com/RedditFormula1/Data/master/commentdata.dat')

In [3]:
# Verify requests.get worked by printing 500 characters
print(r.text[0:500])

#timestamp, amount of minutes the scores were hidden, 0:15 score, 0:30 score, 0:45 score, 1:00 score, 1:15 score, 1:30 score, 1:45 score, 2:00 score
1530130824.0, 0, 1, 1, 1, 1, 1, 1, 1, 1
1530130812.0, 0, 2, 2, 2, 2, 2, 2, 1, 1
1530130797.0, 0, 1, 2, 2, 3, 3, 3, 3, 3
1530130892.0, 0, 2, 2, 3, 3, 3, 3, 3, 3
1530130873.0, 0, 1, 1, 1, 1, 2, 2, 2, 2
1530130852.0, 0, 1, 1, 1, 1, 0, 0, 0, 0
1530130851.0, 0, 1, 2, 2, 2, 2, 2, 2, 2
1530130812.0, 0, 2, 2, 2, 2, 2, 2, 1, 1
1530130935.0, 0, 2, 2,

In [4]:
# Split the text on two characters and turn the string into a list.
x = r.text
y = re.split(r'[\r\n,]',x)

In [5]:
# Print first 10 items in the list
print(y[0:10])

['#timestamp', ' amount of minutes the scores were hidden', ' 0:15 score', ' 0:30 score', ' 0:45 score', ' 1:00 score', ' 1:15 score', ' 1:30 score', ' 1:45 score', ' 2:00 score']

In [6]:
# Because of how the splitting worked, must add one item to the list
# Commented out so it doesn't get run aagin by mistake
#y.append('nan')

In [7]:
# Find the number of rows by dividing length of list by number of columns
len(y)/11

101020.0

In [8]:
# Create the dataframe
df = pd.DataFrame(np.array(y).reshape(101020, 11), columns = ['#timestamp', 'amount of minutes the scores were hidden',
                                                             '0:15 score', '0:30 score', '0:45 score', '1:00 score',
                                                             '1:15 score', '1:30 score', '1:45 score', '2:00 score',
                                                             'delete this'])
# Drop the index and row of empty data (because of splitting),
# Reset the index
df = df.drop([0])
df = df.reset_index()
df = df.drop(columns = ['index','delete this'])

In [9]:
# Verify it worked
df.head()

,#timestamp,amount of minutes the scores were hidden,0:15 score,0:30 score,0:45 score,1:00 score,1:15 score,1:30 score,1:45 score,2:00 score
0,1530130824.0,0,1,1,1,1,1,1,1,1
1,1530130812.0,0,2,2,2,2,2,2,1,1
2,1530130797.0,0,1,2,2,3,3,3,3,3
3,1530130892.0,0,2,2,3,3,3,3,3,3
4,1530130873.0,0,1,1,1,1,2,2,2,2

In [11]:
# Save to CSV
#df.to_csv('Resources/comment_scores.csv', index = False)